* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*header*/
header {
    position: relative;
    top: 0px;
    width: 100%;
    height: 60px;
    color: hsl(0, 0%, 5%);
    background-color: hsl(0, 0%, 60%);
    text-align: center;
}

body {
    background-color: hsl(33, 44%, 95%);
}
#display {
    margin: 0 auto;
    text-align: center;
}
#display h1 {
    margin: 15px 0px 25px 0px;
    font-size: 64px;
}
#display p {
    text-align: center;
    font-size: 32px;
}
#main {
    display:flex;
    justify-content: center;
    height: auto
}
#main h1 {
    margin:25px none;
    text-align: center;
}
.choice {
    font-size: 24px;
    display: inline-block;
    border: 2px solid hsl(0, 0%, 0%);
    background-color: hsl(33, 100%, 88%);
    margin: 0px 5px;
    padding: 2px 8px;
}
input[type="radio"] {
    display: none;
}

input[type='radio']:checked + label {
    color:hsl(0, 79%, 72%);
}
button {
    color:hsl(0, 0%, 96%);
    margin-left: 37.5%;
    margin-right: 37.5%;
    margin-top: 60px;
    width: 25%;
    height: 50px;
    background-color: hsl(0, 0%, 50%);
    border: 3px solid hsl(0, 0%, 0%);
    font-weight: bold;
}
html{
    position: relative;
    min-height: 100%;
}
body{
    margin-bottom: 50px;
}
/*footer*/
footer{
    background-color: black;
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: 1;
    width: 100%;
    height: 100px;
}
#social{
    color: white;
    display: flex;
    justify-content: end;
    margin: 25px 20px 0px 0px;
}

ul{
    list-style-type: none;
    border-left: 2px solid white;
    padding: 5px 0px 5px 10px;
}

#content{
    display: flex;
    justify-content: center;
    
}
#content p {
    position: absolute;
    color: white;
    margin-top: 15px;

    
}
#content aside{
    position: absolute;
    color: white;
    margin-top: 75px;

}