/*all*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
html {
    position: relative;
    min-height: 100%;
}
html::-webkit-scrollbar {
    display: none;
}
html {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/*header*/
header {
    display: flex;
    text-align: center;
    align-content: center;
    justify-content: center;
    position: relative;
    top: 0px;
    width: 100%;
    height: 90px;
    color: hsl(0, 0%, 5%);
    background-color: #0a0a0a10;
    
}
header img{
    padding-bottom: 5px;
    
}

/*navigation*/
.nav {
    display: flex;
    position: fixed;
    text-align: center;
    list-style: none;
    flex-direction: column;
    right: 20px;
    bottom: 0px;
    margin: 0px;
    z-index: 2;
    margin-bottom: 100px;
}
.button{
    margin: 25px 0px 10px;
    
}
.button a {
    font-size: 40px;
    color: #57AAF2;
    text-shadow: 1px 3px 5px gray;

}
.label{
    width: 225px;
    height: 50px;
    margin-bottom: 10px;
}
.title{
    padding: 0px;
    font-size: 25px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s;
}
.button:hover .title{
   visibility: visible;
   opacity: 1;
}

/*body*/
body {
    background-color: #F2F2F2;
    margin-bottom: 50px;
}

/*disabled*/
.disabled {
    pointer-events: none;
}

/*display*/
#display {
    margin: 100px auto;
    text-align: center;
}
#correct{
    color: #57AAF2;
    text-shadow: -2px 2px 3px gray;
}
#percentage{
    color: #57AAF2;
    text-shadow: -2px 2px 3px gray;
}
#display h1 {
    margin: 15px 0px 25px 0px;
    font-size: 64px;
}
#display p {
    text-align: center;
    font-size: 32px;
}

/*info*/

.info{
    float: left;
    margin: 15px auto 35px 15px;
}
.info h1{
    margin: 25px 50px;
    font-weight: bold; 
    font-size: 40px;
    color: #57AAF2;
    border-bottom: 2px double black;
    padding: 0px 35px 0px 0px;
    width: fit-content;
    text-shadow: -2px 0px 2px gray;
}
.info p{
    margin: 20px 150px;
    font-style: italic;
    font-size: 20px;
    color: #262626;
}

/*main*/
#main {
    display: flex;
    justify-content: center;
    height: auto;
    clear: left;
    margin: 100px 0px 200px 0px;
}

#main h2 {
    margin:25px none;
    text-align: center;
}

/*answer choices*/


.choice {
    display: inline-block;
    margin: 20px auto 25px;
    padding: 2px 8px;
    min-width: 100px;
    width: 250px;
    height: 50px;
    text-align: center;
    color: white;
    border: 2px solid #10141f;
    border-radius: 8px;
    background-color: #010326;
    font-size: 24px;
}
input[type="radio"] {
    display: none;
}
input[type='radio']:checked + label {
    color:#57AAF2;
    transition: color 0.25s;
}

/*submit answers button*/
button {
    margin-left: 37.5%;
    margin-right: 37.5%;
    margin-top: 60px;
    width: 200px;
    height: 70px;
    border: 3px solid #0D0D0D;
    border-radius: 8px;
    background-color: #F2F2F2;
    color:#0D0D0D;
    font-weight: bold;
    font-size: 20px;
}
button:hover{
    color:#57AAF2;
    transition: color 0.3s;
}
button:checked{
    color:#57AAF2;
    transition: color 0.3s;
}
/*footer*/
footer {
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: 1;
    width: 100%;
    height: 128px;
    color: white;
    background-color: #010326;
}
#social {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    text-decoration: none;
    color: white;
}
#social h4 {
    font-size: 20px;
}
#social li,
#social a:visited {
    text-decoration: none;
    display: inline-block;
    color: white;
    font-size: 18px;
}
#social a:hover {
    transition: color 0.5s;
    color:#57AAF2;
}
.brdr-left {
    padding-right: 10px;
    border-right: 1px solid white;
}
.brdr-right {
    padding-left: 10px;
}
#social p {
    margin-top: 25px;
    font-size: 14px;
    color: lightgrey;
}
